.popup_is-opened {
 visibility: visible; /* Показываем в потоке документа */
  opacity: 1;         /* Полная непрозрачность */
  transition: 
    visibility 0s linear, /* Без задержки при открытии */
    opacity 0.5s ease;
}
